img {
  display: block;          
  margin-left: auto;      
  margin-right: auto;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
  font-weight: normal;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: white;
    padding: 30px;
    text-align: center;

}


h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
        padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 5px solid black;
    text-align: center;
   

}


.content-box {
  background-color: white;        
  padding: 40px;                  
  margin: 30px;

}



.textcenter {
    text-align: center;
}


 nav {
      font-weight: normal; 
    
    }

nav ul {
    text-align: center; 
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
}

nav li {
    font-style: normal;
    font-weight: normal;
  width: 150px;
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color:purple;
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
background-color:purple;

}


nav li a:hover{
  background-color:pink;

}

nav a:hover {
      color: white;
      text-decoration: none;
    }


footer {
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:bold;
    text-align: center;
    color:white;
background-color: purple;
    padding: 40px;
    border:white 5px solid;
}


a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a:hover {
  color: pink;
  text-decoration: underline;
}



.bottom-section {
  display: flex;
  justify-content: space-around; 
  align-items: center;           
  gap: 20px;                     
  margin: 40px auto;
  max-width: 1200px;
}

.bottom-section img {
  width: 30%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.bottom-section .content-box {
  width: 35%;
  min-width: 280px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}